{% extends 'consultorioCys/base_generic.html' %} 
{% block content %}
<h2>Información del Paciente</h2>
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h3>{{ paciente.nombres_paciente }} {{ paciente.primer_apellido_paciente }} {{ paciente.segundo_apellido_paciente }}</h3>
    </div>
    <div class="card-body">
        <p><strong>RUT:</strong> {{ paciente.rut_paciente }}</p>
        <p><strong>Correo Electrónico:</strong> {{ paciente.correo_paciente }}</p>
        <p><strong>Teléfono:</strong> {{ paciente.telefono_paciente }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ paciente.fecha_nacimiento_paciente }}</p>
        <p><strong>Género:</strong> {{ paciente.get_genero_paciente_display }}</p>
        <p><strong>Dirección:</strong> {{ paciente.direccion_paciente }}</p>
    </div>
</div>

<h2>Informes de {{ paciente.nombres_paciente }}</h2>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Fecha</th>
            <th>Notas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for informe in informes %}
        <tr>
            <td>{{ informe.titulo_informe }}</td>
            <td>{{ informe.fecha_informe }}</td>
            <td>{{ informe.notas_doctor }}</td>
            <td>
                {% if informe.documentos_extra %}
                <a href="{{ informe.documentos_extra.url }}" class="btn btn-success btn-sm" target="_blank">Descargar PDF</a>
                {% else %}
                <a href="{% url 'generar_pdf' informe.id_informe %}" class="btn btn-primary btn-sm" target="_blank">Generar PDF</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
