<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Paciente</title>
</head>
<body>
    <div class="container bar parchivo" style="display: flex; justify-content: center; align-items: center;"> 
        <div style="width: 100%; max-width: 400px;">
            <h3 class="center">Acceso Paciente</h3>
            <div class="container">
                <form action="{% url 'buscar_paciente' %}" method="POST">
                    {% csrf_token %}
                    <div class="row margen" style="display: flex; justify-content: center; margin-bottom: 15px;">
                        <div class="col margen end" style="margin-right: 10px;">
                            <label for="rut">RUT:</label>
                        </div>
                        <div class="col margen start">
                            <input type="text" id="rut" name="rut" placeholder="Ingresa tu RUT" required
                                style="width: 100%;">
                        </div>
                    </div>
                    <div class="row" style="display: flex; justify-content: center; margin-bottom: 15px;">
                        <div class="col" style="margin-right: 10px;">
                            <label for="password">Contraseña:</label>
                        </div>
                    </div>
                    <div class="center" style="display: flex; justify-content: center; margin-top: 15px;">
                        <button type="submit" class="button2" style="padding: 10px 20px;">Buscar Paciente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
