{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Cita Confirmada</h2>
    {% if error %}
        <p class="text-danger text-center">{{ error }}</p>
    {% else %}
        <p class="text-center">Su cita con el Dr. {{ doctor.nombres_doctor }} {{ doctor.primer_apellido_doctor }} ha sido confirmada para el <strong>{{ fecha }}</strong> a las <strong>{{ hora }}</strong>.</p>
        <p class="text-center">Especialidad: <strong>{{ especialidad }}</strong></p>
        <p class="text-center">Ubicación: <strong>{{ ubicacion }}</strong></p>
    {% endif %}
    <div class="text-center mt-4">
        <a href="{% url 'inicio' %}" class="btn btn-primary">Volver al Inicio</a>
    </div>
</div>
{% endblock %}