{% extends 'consultorioCys/base_generic.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Crear Informe para {{ paciente.nombres_paciente }} {{ paciente.primer_apellido_paciente }}</h2>
  <div class="card shadow p-4">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="doctor_responsable" class="form-label">Doctor Responsable</label>
          <input type="text" id="doctor_responsable" class="form-control"
            value="{{ doctor.nombres_doctor }} {{ doctor.primer_apellido_doctor }} {{ doctor.segundo_apellido_doctor }}" readonly>
        </div>
        <div class="col-md-6">
          <label for="titulo_informe" class="form-label">Título Informe</label>
          <input type="text" id="titulo_informe" name="titulo_informe" class="form-control"
            placeholder="Ingrese un título" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="descripcion_informe" class="form-label">Descripción Informe</label>
          <textarea id="descripcion_informe" name="descripcion_informe" class="form-control"
            rows="3">Descripción por defecto.</textarea>
        </div>
        <div class="col-md-6">
          <label for="notas_doctor" class="form-label">Diagnostíco del Doctor</label>
          <textarea id="notas_doctor" name="notas_doctor" class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="instrucciones_tratamiento" class="form-label">Instrucciones Tratamiento</label>
          <textarea id="instrucciones_tratamiento" name="instrucciones_tratamiento" class="form-control"
            rows="3"></textarea>
        </div>
        <div class="col-md-6">
          <label for="documentos_extra" class="form-label">Documentos Extra</label>
          <input type="file" id="documentos_extra" name="documentos_extra" class="form-control">
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar Informe</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}