{% extends "consultorioCys/base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Procesar Pago</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalles del Pago</h5>
            <p><strong>Plan:</strong> {{ plan.nombre }}</p>
            <p><strong>Monto:</strong> ${{ monto|floatformat:0 }} CLP</p>
            <p><strong>Fecha de Expiración:</strong> {{ nueva_fecha_fin|date:"d/m/Y" }}</p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success mt-3">Confirmar y Pagar</button>
    </form>
</div>
{% endblock %}
