{% extends "consultorioCys/base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Selecciona tu Plan</h2>
    <div class="row justify-content-center mt-4">
        {% for plan in planes %}
        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4>{{ plan.nombre }}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">${{ plan.precio|floatformat:0 }} CLP / mes</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ plan.descripcion }}</li>
                    </ul>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="plan_id" value="{{ plan.id_plan }}">
                        <button type="submit" class="btn btn-primary">Seleccionar</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
