{% extends "consultorioCys/base_generic.html" %}

{% block content %}
<div class="container mt-5" style="margin-bottom: 40px;">
    <h2 class="text-center mb-4">Selecciona tu Plan</h2>
    
    <!-- Section for Patient Plans -->
    <h4>Planes para Pacientes</h4>
    <div class="row">
        {% for plan in planes %}
            {% if plan.tipo == 'Paciente' %}
            <div class="col-md">
                <div class="card mb shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ plan.nombre }}</h5>
                        <p class="card-text">Precio: ${{ plan.precio|floatformat:0 }} CLP / mes</p>
                        <p class="card-text">{{ plan.descripcion }}</p>
                        <a href="{% url 'mi_suscripcion' %}" class="btn btn-primary">Contratar plan</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}